{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="form-container formulario-simples">
        <form method="post">
            {% csrf_token %}
            <h1>
                {% if modo == 'edição' %}
                    Edição de Dependente
                {% elif modo == 'criação' %}
                    Cadastro de  Dependente
                {% endif %}
            </h1>

            <h2>Dados do Dependente</h2>
            {{ form_dependente.non_field_errors }}
            {{ form_dependente.as_p }}


            <div class="botoes-acao-duas-colunas">

                <button  type="submit" class="ordenar-btn">
                    {% if modo == 'edição' %}
                        Edição de  dependente
                    {% elif modo == 'criação' %}
                        Cadastro de  dependente
                    {% endif %}
                </button>

            </div>
        </form>

    </div>
{% endblock %}