{% extends "global/base.html" %}
{% load static %}

{% block content %}
    <div class="list-container">
        <h2>Funcionarios cadastrados</h2>
        <table class="list-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Funcionario</th>
                <th>Salario-Hora</th>
                <th>dependentes</th>
                <th>Ações</th>


            </tr>
            </thead>
            <tbody>
            {% for funcionario in funcionarios  %}
                <tr>
                    <td data-label="ID">
                        <a href="{% url 'sistemahorista:detalhe_funcionario' funcionario.pk %}" class="edit">
                            {{ funcionario.pk }}</a>


                    </td>
                    <td data-label="Usuário">{{ funcionario.nome_funcionario }}</td>
                    <td data-label="Salario-Hora">{{ funcionario.salario_hora }}</td>
                    <td data-label="dependentes">{{ funcionario.dependenteelegivel.count }}
                    <td data-label="Ações">
                        <div class="action-buttons">
                            <a href="{% url 'sistemahorista:atualizar_funcionario' funcionario.pk %}" class="edit">Editar</a>
                            <form method="post"
                                  class="form-excluir"
                                  action="{% url 'sistemahorista:deletar_funcionario' funcionario.pk %}"
                                  onsubmit="if(confirm('Deseja realmente excluir este Usuario?')) { this.querySelector('button').disabled = true; return true; } else { return false; }">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-excluir">Excluir</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" style="text-align: center;">Nenhum membro encontrado.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Paginação -->
{#        {% if is_paginated %}#}
{#            <div style="font-size: 0.9rem" class="pagination" style="margin-top: 20px; text-align: center;">#}
{#                {% if page_obj.has_previous %}#}
{#                    <a href="?page={{ page_obj.previous_page_number }}">&laquo;#}
{#                        Anterior</a>#}
{#                {% endif %}#}
{##}
{#                <span style="margin: 0 10px;">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>#}
{##}
{#                {% if page_obj.has_next %}#}
{#                    <a href="?page={{ page_obj.previous_page_number }}">&laquo;#}
{#                        Anterior</a>#}
{#                {% endif %}#}
{#            </div>#}
{#        {% endif %}#}
    </div>
{% endblock %}