{% if user.is_authenticated %}
    <div class="navbar">

        <div style="display: flex; align-items: center; gap: 20px;">
            <a class="navbar-title" href="#" >Teste Acedata</a>


            <a style="font-size: 16px;font-weight: bold" href="{% url 'admin:index' %}" class="menu-link" target="_blank"><b>ADMIN</b></a>


            <div class="dropdown">
                <a href="#" style="padding: 10px 20px; font-size: 16px;">MENU PRINCIPAL ▾</a>
                <ul class="dropdown-content">
                    <li class="dropdown-sub">
                        <a href="#">Funcionarios </a>
                        <ul class="dropdown-sub-content">
                            <li><a href="#">CADASTRAR/ATUALIZAR</a></li>
                        </ul>
                    </li>


                    <li class="dropdown-sub">
                        <a  href="#">Salarios</a>

                    </li>
                    <li><a href="#">Dependentes</a></li>
                </ul>
            </div>

            <!-- Dropdown Equipe (acesso gerência em diante) -->
            <div class="dropdown">
                <a href="{% url 'sistemahorista:tabela_usuarios' %}" style="padding: 10px 20px; font-size: 16px;">EQUIPE ▾</a>
                <ul class="dropdown-content">
                    <li><a href="{% url 'sistemahorista:cadastro_usuario' %}"> CADASTRAR EQUIPE</a></li>
                </ul>
            </div>
            <span class="navbar-title">Usuário Logado: {{ user.username }}</span>
        </div>



        <div style="display: flex; align-items: center; gap: 15px;">
            <div class="search-bar">
                <form action="#" method="get" style="display: flex; gap: 10px;">
                    <input type="text" name="q" placeholder="pesquisar" required
                           style="padding: 6px; border-radius: 4px; border: 1px solid #ccc;">
                    <button type="submit">🔍</button>
                </form>
            </div>
            <a href="{% url 'sistemahorista:logout_sistema' %}" style="padding: 10px 20px; font-size: 16px;">LOGOUT</a>

        </div>
    </div>
{% else %}

    <div class="navbar">
        <a class="navbar-title" href="#" >YOSEF POSVENDAS</a>

        <a href="{% url 'admin:index' %}" style="padding: 10px 20px; font-size: 16px;">ADMIN</a>
    </div>
{% endif %}
